{
  # debug
  email mail@amun-ra.ch # Mainly used when creating an ACME account with your CA, and is highly recommended in case there are problems with your certificates.
}

kemet.ch {
  encode zstd gzip
  reverse_proxy 127.0.0.1:1111
}

www.kemet.ch {
 # redir https://kemet.ch{uri}
  redir https://amun-ra.ch
}
